include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page

  body
    .wrapper
      .maincontent
        .welcome-section
          section.parallax
            .parallax__layer
              .parallax__bg
                +image('parallax/1.jpg', 'parallax__bg-img')
              .parallax__layer-one
                +image('parallax/2.png', 'parallax__layer-img')
              .parallax__layer-two
                +image('parallax/3.png', 'parallax__layer-img')
              .parallax__layer-three
                +image('parallax/4.png', 'parallax__layer-img')
              .parallax__layer-four
                +image('parallax/5.png', 'parallax__layer-img')
              .parallax__layer-five
                +image('parallax/6.png', 'parallax__layer-img')
              .parallax__layer-six
                +image('parallax/7.png', 'parallax__layer-img')
            //- for (var i=1; i< 7; i++)
              .parallax__layer
                picture
                  .parallax__image
                  img(srcset = require(`images/parallax/${i}.${ i==1 ? 'jpg' : 'png'  }`)).parallax__image
          section.hero
            .container.hero__container
              header.header
                .header__logo
                  a.logo(href="" title="logo") BA
                .header__menu
                  nav.menu
                    ul.menu__list.menu__list-header
                      - var menuitems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                      each item in menuitems
                       li.menu__item
                        a.menu__link(href="#" title= `${item}`) #{item}
                .header__links
                    ul.socials
                      - var linksitems = ["insta", "vk", "github"];
                      each item in linksitems
                        li.socials__item
                          a.socials__link(href="")
                           +icon(item, "socials__icon")
              .hero__content
                .user-info
                  .user-info__desc Личный сайт веб разработчика
                  .user-info__name Екатерина Коновальчук
              .hero__bottom--buttons
                .scroll-down-button Скролл
                  a.scroll__link(href="")
                    +icon('scroll', 'link-class')
        
          section.about
            .container.about__container
              .about__left
                .user
                  .user__foto
                    +image('content/user.jpg', 'user__foto-pic')  
                  .user__data
                    table.user__data-table
                      -
                        var data = [
                          ['Проживаю:', 'Барнаул'],
                          ['Возраст:', '24 года'],
                          ['Родилась:', '29 декабря'],
                        ]
                      each row in data
                        tr.user__data-row
                          td.user__data-cell.left__row #{row[0]}
                          td.user__data-cell.right__row #{row[1]}
              .about__right
                .about__welcome Привет, меня зовут
                .about__username Екатерина Коновальчук
                .about__desc
                  p.about__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
                  p.about__qoute Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
           
        
        .section.values
          .container.values__container
            .advantage__wrapper
              .values__title
                h2.section-title.values__title-text.section-title--small Чем я могу быть полезна вам
                .values__desc
                  p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
            .advantage__widget
              #skills-component   
        section.works
          .container.works__container
            h2.title-section.works__section-title Мои работы
            .works__content
              #slider-component
        .bottom__section
          section.reviews
            .reviews__title
              .section-title Что обо мне говорят
              .reviews__slider-controls
            ul.reviews__slider
              - for (var i=0; i<1;i++)
                  li.reviews__slider-item
                    .quote
                      .quote__text Эта девушка проходила веб-разработке не где-то, а в LoftSchool! 4,5 месяца только самых тяжелых испытаний и бессонных ночей!
                      .quote__author
                        .user.user--horizontal
                          .user__foto.user__foto-quote
                            +image('content/Dmitrii.png', 'user__foto-pic') 
                          .user__data
                            .user__name Ковальчук Дмитрий
                            .user__occ Основатель loftschool 
                  li.reviews__slider-item
                    .quote
                      .quote__text Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах
                      .quote__author
                        .user.user--horizontal
                          .user__foto.user__foto-quote
                            +image('content/Vladimir.png', 'user__foto-pic') 
                          .user__data
                            .user__name Владимир Сабанцев
                            .user__occ  Преподаватель                        
          section.form
            .section-title Связаться со мной
            form.myform
              .form__row
                -
                  var fields=[
                    ['user', 'Введите ваше имя', 'Ковальчук Дмитрий'],
                    ['envelope','Введите ваш email','loftschool@study.com']
                  ]
                each item in fields
                  label.form-block(data-title=item[1])
                    .form-block__container
                      +icon(`${item[0]}`,'form-block__icon')
                      .form-block__field
                        input(type="text" placeholder=item[2]).form-block__input
              
              .form__message
                .form__title Сообщение к письму
                .form__placeholder Требуется ваша помощь в создании сайта. Интересуют сроки и цена вопроса
              button.form__button Отправить
        
        footer.footer
          .container.footer__container
            .footer__copyright
              .copyright__year &copy;2019
              .copyright__username Екатерина Коновальчук
              .copyright__desc Личный сайт веб разработчика
            .footer__data
              .footer__menu
                nav.menu.menu--color-white
                    ul.menu__list.menu__list-footer
                      each item in menuitems
                       li.menu__item
                        a.menu__link(href="") #{item}
              .footer__data-columns
                .footer__data-col
                  article.footer__text Этот сайт я сделала в рамках обучения в Школе онлайн образования Loftschool.  
                  ul.footer__social.socials.socials--rounded
                      each item in linksitems
                        li.socials__item
                          a.socials__link(href="")
                           +icon(item, "socials__icon")
                .footer__data-col
                  article.footer__text
                    p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете  

        .hamburger-menu-link(id="hamburger-menu-link")
          .hamburger-menu-link__bars.close__bar  

        .hamburger-menu(id="hamburger-menu")
          .hamburger-menu__item
            nav.nav.nav__hamburger
              ul.menu__list(id="menu__list-hamburger") 
                - var menuitems = ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"];
                      each item in menuitems
                       li.menu__item.nav__item_hamburger
                        a.menu__item-link(href="") #{item}   
    include ./templates/entry.pug 
             
